@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white mb-5">
    <h1 class="display-1 fw-bold mt-5 mb-5">Bienvenido a SuggestionsApp</h1>
    
    <p class="h4 mb-5">Nuestro sitio de sugerencias te deja a disposición un área en la que podrás dejar las recomendaciones, que como usuario estimes convenientes para nuestra mejora continua.</p>

    <button class="btn btn-outline-light btn-lg mb-5"><i class="las la-plus"></i> Crear sugerencia</button>
</div>

<div class="row">
    <section class="col-md-9">
        <div class="row mb-5">
            <p class="col-md-7 h3 text-md-left text-white fw-bold">32 sugerencias</p>
            <section class="col-md-5 btn-group" role="group" aria-label="Botones">
                <button type="button" class="btn btn-light">Nuevos</button>
                <button type="button" class="btn btn-light">Populares</button>
            </section>
        </div>

        <section class="row p-2 pt-0">

            @foreach(var suggestion in Model.SuggestionsList)
            {
                <article class="card border-primary overflow-hidden mb-3">
                    <div class="card-body row p-3 d-flex justify-content-between">
                        <section class="col-2 text-center text-primary border border-2 border-primary rounded-circle d-flex flex-column justify-content-around p-1" role="button" style="max-width: 100px; max-height: 100px">
                            <p class="h5 fw-bold mb-0">@suggestion.UpvotesAmount</p>
                            <i class="las la-chevron-up fs-3"></i>
                            <p class="fw-bold text-uppercase mb-0">Votar</p>
                        </section>

                        <section class="col-10 d-flex flex-column justify-content-between">
                            <div class="border-bottom border-2 border-primary mb-2 pb-2">
                                <h5 class="card-title mb-2">@suggestion.Title</h5>
                                <h6 class="card-subtitle text-muted">@suggestion.UserName</h6>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="text-muted text-uppercase fw-bold mb-0">@suggestion.CategoryName</p>
                                <span class="badge rounded-pill bg-success py-2 px-4 fs-6">@suggestion.StateName</span>
                            </div>
                        </section>
                    </div>
                </article>
            }

        </section>

    </section>
    <section class="col-md-3">
        <article class="mb-5">
             <form class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Barra de busqueda" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2"><i class="las la-search"></i></button>
            </form>
        </article>

        <article class="card mb-3 p-1">
            <div class="card-header text-uppercase fw-bold bg-white border-bottom border-2 border-primary">Estados</div>

            <ul class="card-body list-unstyled mb-0">
                <li class="fw-bold"><a href="#" class="d-block text-decoration-none text-black py-2">Todos</a></li>
                
                @foreach(var state in Model.StatesList)
                {
                    <li><a href="#" class="d-block text-decoration-none text-black py-2">@state.Name</a></li>
                }
            </ul>
        </article>

        <article class="card mb-3 p-1">
            <div class="card-header text-uppercase fw-bold bg-white border-bottom border-2 border-primary">Categorías</div>

            <ul class="card-body list-unstyled mb-0">
                <li class="fw-bold"><a href="#" class="d-block text-decoration-none text-black py-2">Todos</a></li>
                
                @foreach(var category in Model.CategoriesList)
                {
                    <li><a href="#" class="d-block text-decoration-none text-black py-2">@category.Name</a></li>
                }
            </ul>
        </article>
    </section>
</div>
