@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center text-white mb-5">
    <h1 class="display-2 text-uppercase fw-bold mt-5 mb-5">Bienvenido a SuggestionsApp</h1>
    
    <p class="h5 mb-5">Nuestro sitio de sugerencias te deja a disposición un área en la que podrás dejar las recomendaciones, que como usuario estimes convenientes para nuestra mejora continua.</p>

    <a asp-controller="Suggestions" asp-action="CreateSuggestion" class="btn btn-outline-light btn-lg mb-5"><i class="las la-plus"></i> Crear sugerencia</a>
</section>

<div class="row">
    <section class="col-md-9">
        <div class="row mb-5">
            @if(Model.SuggestionsAmount == 0)
            {
                <p class="col-md-7 h3 text-md-left text-white fw-bold">Sin sugerencias</p>
            }
            else if(Model.SuggestionsAmount == 1)
            {
                <p class="col-md-7 h3 text-md-left text-white fw-bold">@Model.SuggestionsAmount sugerencia</p>
            }
            else
            {
                <p class="col-md-7 h3 text-md-left text-white fw-bold">@Model.SuggestionsAmount sugerencias</p>
            }
            
            <section class="col-md-5 btn-group" role="group" aria-label="Botones">
                <button type="button" class="btn btn-light">Nuevos</button>
                <button type="button" class="btn btn-light">Populares</button>
            </section>
        </div>

        <section class="row p-2 pt-0">
            
            @if(TempData["success"] != null)
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <p class="mb-0">
                        <i class="las la-check fs-4"></i>
                        <strong>Bien hecho!</strong> @TempData["success"]
                    </p>
                </div>
            }

            @foreach(var suggestion in Model.SuggestionsList)
            {
                <article class="card shadow border-primary overflow-hidden mb-3">
                    <div class="card-body row p-3 d-flex justify-content-between">
                        <aside class="col-2 text-center text-primary border border-2 border-primary rounded-circle d-flex flex-column justify-content-around p-1" role="button" style="max-width: 100px; max-height: 100px">
                            <p class="h5 fw-bold mb-0">@suggestion.UpvotesAmount</p>
                            <i class="las la-chevron-up fs-3"></i>
                            <p class="fw-bold text-uppercase mb-0">Votar</p>
                        </aside>

                        <section class="col-10 d-flex flex-column justify-content-between p-0">
                            <header class="border-bottom border-2 border-primary d-flex justify-content-between align-items-start mb-3 pb-3">
                                <div>
                                    <h5 class="card-title mb-2">@suggestion.Title</h5>
                                    <h6 class="card-subtitle text-muted">@suggestion.UserName</h6>
                                </div>
                                <span class="badge rounded-pill py-2 px-4 fs-6" style="background:@suggestion.StateColorHexCode">@suggestion.StateName</span>
                            </header>

                            <footer class="d-flex justify-content-between align-items-center">
                                <p class="text-muted text-uppercase fw-bold mb-0">@suggestion.CategoryName</p>
                                <div class="d-flex align-items-center">
                                    <a asp-controller="Suggestions" asp-action="ViewSuggestion" asp-route-id="@suggestion.Id"><i class="las la-eye text-muted fs-3 px-1"></i></a>
                                    <a asp-controller="Suggestions" asp-action="EditSuggestion" asp-route-id="@suggestion.Id"><i class="las la-pen text-muted fs-3 px-1"></i></a>
                                    <form asp-controller="Suggestions" asp-action="DeleteSuggestion" method="post" class="delete-suggestion-form">
                                        <input type="hidden" value="@suggestion.Id" name="id" />
                                        <button class="bg-white border-0 p-0"><i class="las la-trash text-danger fs-3 px-1"></i></button>
                                    </form>
                                </div>
                            </footer>
                        </section>
                    </div>
                </article>
            }

        </section>

    </section>
    <section class="col-md-3">
        <article class="mb-5">
             <form class="input-group" asp-controller="Home" asp-action="Index" method="get">
                <input type="text" name="search" class="form-control" placeholder="Buscar" aria-label="Barra de busqueda">
                <button class="btn btn-primary"><i class="las la-search"></i></button>
            </form>
        </article>

        <article class="card shadow mb-3 p-1">
            <div class="card-header text-primary text-uppercase fw-bold bg-white border-bottom border-2 border-primary"><i class="las la-flag fs-4"></i> Estados</div>

            <ul class="card-body list-unstyled mb-0">
                <li class="fw-bold"><a asp-controller="Home" asp-action="Index" class="d-block text-decoration-none text-black py-2">Todos</a></li>
                
                @foreach(var state in Model.StatesList)
                {
                    <li class="mb-2"><a asp-controller="Home" asp-action="Index" asp-route-stateId="@state.Id" class="d-block text-decoration-none text-black py-1">@state.Name</a></li>
                }
            </ul>
        </article>

        <article class="card shadow mb-3 p-1">
            <div class="card-header text-primary text-uppercase fw-bold bg-white border-bottom border-2 border-primary"><i class="las la-tags fs-4"></i> Categorías</div>

            <ul class="card-body list-unstyled mb-0">
                <li class="fw-bold"><a asp-controller="Home" asp-action="Index" class="d-block text-decoration-none text-black py-2">Todos</a></li>
                
                @foreach(var category in Model.CategoriesList)
                {
                    <li class="mb-2"><a asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id" class="d-block text-decoration-none text-black py-1">@category.Name</a></li>
                }
            </ul>
        </article>
    </section>
</div>