@model SuggestionsApprovalViewModel
@{
    Layout = "_AdminLayout";

    ViewData["Title"] = "Aprobar sugerencias";
    ViewData["SubTitle"] = "Estas sugerencias no son visibles actualmente para los usuarios. Una vez apruebe una sugerencia, los usuarios podrán comenzar a votar por ella.";
    ViewData["ActivePage"] = ManageAdminNavPages.SuggestionsApproval;
}

<h3>@ViewData["Title"]</h3>
<p class="mb-4">@ViewData["SubTitle"]</p>

@if(TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p class="mb-0">
            <i class="las la-check fs-4"></i>
            <strong>Bien hecho!</strong> @TempData["success"]
        </p>
    </div>
}

@if(TempData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p class="mb-0">
            <i class="las la-times fs-4"></i>
            <strong>Error!</strong> @TempData["error"]
        </p>
    </div>
}

<div class="row">
    <section class="col">
        @if (Model.PendingSuggestionsCount == 0)
        {
            <div class="alert alert-light">
                <p class="mb-0 text-primary fw-bold">
                    <i class="las la-info-circle fs-4"></i>
                    Actualmente no existen sugerencias pendientes de aprobación.
                </p>
            </div>
        }
        
        @foreach (var suggestion in Model.PendingSuggestionsList)
        {
            <article class="border border-2 border-primary rounded p-3 mb-3">
                <header class="border-bottom border-2 border-primary mb-3 pb-2">
                    <h5 class="card-title mb-2 text-primary">@suggestion.Title</h5>
                    <p class="card-subtitle text-muted small">@suggestion.UserName - @suggestion.Date</p>
                </header>

                <p class="my-3">@suggestion.Description</p>

                <footer class="d-flex justify-content-between align-items-center">
                    <p class="text-muted text-uppercase fw-bold mb-0"><i class="las la-tag fs-5"></i> @suggestion.CategoryName</p>
                    <div class="d-flex">
                        <form method="post">
                            <input type="hidden" asp-for="SuggestionId" value="@suggestion.Id"/>
                            <input type="hidden" asp-for="Approved" value="true"/>
                            <button type="submit" class="btn btn-sm btn-success mx-1"><i class="las la-check fs-4"></i> Aprobar</button>
                        </form>

                        <form method="post">
                            <input type="hidden" asp-for="SuggestionId" value="@suggestion.Id"/>
                            <input type="hidden" asp-for="Approved" value="false"/>
                            <button type="submit" class="btn btn-sm btn-danger"><i class="las la-times fs-4"></i> Rechazar</button>
                        </form>
                    </div>
                </footer>
            </article>
        }
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}