@model SuggestionFormViewModel
@{
    ViewData["Title"] = "CreateSuggestion";
}

<h1 class="display-2 text-center text-white fw-bold my-5">@(Model.Id == null ? "Crear" : "Editar") sugerencia</h1>

<section class="col-lg-9 card shadow py-3 mx-auto mb-2">
    <form asp-controller="Suggestions" asp-action="@(Model.Id == null ? "CreateSuggestion" : "EditSuggestion")" method="post" class="col-11 card-body mx-auto">
        @if(TempData["error"] != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <p class="mb-0">
                    <i class="las la-times fs-4"></i>
                    <strong>Error!</strong> @TempData["error"]
                </p>
            </div>
        }

        <input type="hidden" asp-for="Id" />

        <fieldset class="mb-5">
            <legend class="fs-5 fw-bold text-primary text-uppercase border-bottom border-2 border-primary pb-2 mb-2">Título de la sugerencia</legend>
            <div class="form-group">
                <label class="col-form-label" for="Title">Define el título de la forma más legible posible. (Max 100 caracteres):</label>
                <input type="text" asp-for="Title" class="form-control" placeholder="Título">
            </div>
        </fieldset>

        <fieldset class="form-group mb-5">
            <legend class="fs-5 fw-bold text-primary text-uppercase border-bottom border-2 border-primary pb-2 mb-2">Categoría de la sugerencia</legend>

            @foreach(var category in Model!.Categories)
            {
                <div class="form-check">
                    <label class="col-form-label">
                        <input type="radio" asp-for="CategoryId" class="form-check-input" value="@category.Id" data-com.bitwarden.browser.user-edited="yes">
                        @category.Name
                    </label>
                </div>
            }

        </fieldset>

        <fieldset class="mb-5">
            <legend class="fs-5 fw-bold text-primary text-uppercase border-bottom border-2 border-primary pb-2 mb-2">Descripción de la sugerencia</legend>
            <div class="form-group">
                <label for="Description" class="col-form-label">Una descripción puede ayudar a los demás usuarios a comprender de una mejor manera tu sugerencia.</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            </div>
        </fieldset>

        <div class="d-flex justify-content-between">
            @if(Model.Id == null)
            {
                <button class="btn btn-primary"><i class='las la-plus'></i> Crear sugerencia </button>
            }
            else {
                <button class="btn btn-primary"><i class='las la-pen'></i> Editar sugerencia </button>
            }

            <div>
                <a asp-controller="Home" asp-action="Index"><i class="las la-arrow-left text-primary fs-3 px-1"></i></a>
                
                @if(Model.Id != null)
                {
                    <a href="/Suggestions/ViewSuggestion/@Model.Id"><i class="las la-eye text-primary fs-3 px-1"></i></a>
                }
            </div>
        </div>
    </form>
</section>