@model SuggestionFormViewModel
@{
    ViewData["Title"] = "CreateSuggestion";
}

<h1 class="display-2 text-center text-white fw-bold my-5">@(Model.Id == null ? "Crear" : "Editar") sugerencia</h1>

<section class="col-lg-9 card shadow p-2 mx-auto mb-2">
    <div class="card-header bg-white">
        <a asp-controller="Home" asp-action="Index" class="btn text-secondary p-0">
            <i class="las la-arrow-left fs-3 px-1"></i> Regresar
        </a>
    </div>

    <form asp-controller="Suggestions" asp-action="@(Model.Id == null ? "CreateSuggestion" : "EditSuggestion")" method="post" id="form-create" class="col-11 card-body mx-auto">
        <partial name="_StatusMessage" />

        <input type="hidden" asp-for="Id" />

        <fieldset class="mb-5">
            <legend class="fs-5 fw-bold text-primary text-uppercase border-bottom border-2 border-primary pb-2 mb-2">Título de la sugerencia</legend>
            <div class="form-group has-danger">
                <label class="col-form-label" for="input-title"><span class="text-secondary small">Define el título de la forma más legible posible. (Max 100 caracteres):</span></label>
                <input type="text" asp-for="Title" id="input-title" class="form-control input-create" placeholder="Título">
                <div id="feedback-title" class="invalid-feedback"></div>
            </div>
        </fieldset>

        <fieldset class="form-group mb-5">
            <legend class="fs-5 fw-bold text-primary text-uppercase border-bottom border-2 border-primary pb-2 mb-2">Categoría de la sugerencia</legend>

            @foreach(var category in Model.Categories)
            {
                <div class="form-check">
                    <label class="col-form-label">
                        <input type="radio" asp-for="CategoryId" class="form-check-input" value="@category.Id" required>
                        @category.Name
                    </label>
                </div>
            }

        </fieldset>

        <fieldset class="mb-5">
            <legend class="fs-5 fw-bold text-primary text-uppercase border-bottom border-2 border-primary pb-2 mb-2">Descripción de la sugerencia</legend>
            <div class="form-group has-danger">
                <label for="input-suggestion-description" class="col-form-label"><span class="text-secondary small">Una descripción puede ayudar a los demás usuarios a comprender de una mejor manera tu sugerencia.</span></label>
                <textarea asp-for="Description" id="input-suggestion-description" class="form-control input-create" rows="5"></textarea>
                <div id="feedback-suggestion-description" class="invalid-feedback"></div>
            </div>
        </fieldset>

        <div class="d-flex justify-content-between">
            <button class="btn btn-primary"><i class='las la-plus'></i> @(Model.Id == null ? "Crear sugerencia" : "Editar sugerencia") </button>

            @if(Model.Id != null)
            {
                <a asp-controller="Suggestions" asp-action="ViewSuggestion" asp-route-id="@Model.Id"><i class="las la-eye text-muted fs-3 px-1"></i></a>
            }
        </div>
    </form>
</section>

@section Scripts
{
    <script>
        const formCreate = document.getElementById("form-create");
    
        formCreate.addEventListener('submit', (e) => {
            e.preventDefault();
            
            if (validateForm()) {                
                formCreate.submit();
            }
        });
    </script>
}
