<ul class="nav nav-pills flex-column">
    <li class="nav-item mb-5"><a class="nav-link @ManageAdminNavPages.SuggestionsApprovalNavClass(ViewContext)" id="suggestionsApproval"><i class="las la-check fs-4"></i> Aprobar sugerencias</a></li>
    <li class="nav-item"><a class="nav-link @ManageAdminNavPages.IndexNavClass(ViewContext)" id="index" asp-controller="Admin" asp-action="Index"><i class="las la-user fs-4"></i> Index</a></li>
    <li class="nav-item"><a class="nav-link @ManageAdminNavPages.CategoriesListNavClass(ViewContext)" id="categoriesList" asp-controller="Admin" asp-action="CategoriesList"><i class="las la-tag fs-4"></i> Categorías</a></li>
    <li class="nav-item"><a class="nav-link @ManageAdminNavPages.StatesListNavClass(ViewContext)" id="statesList" asp-controller="Admin" asp-action="StatesList"><i class="las la-flag fs-4"></i> Estados</a></li>
    <li class="nav-item"><a class="nav-link @ManageAdminNavPages.UsersListNavClass(ViewContext)" id="usersList" asp-controller="Admin" asp-action="UsersList"><i class="las la-user fs-4"></i> Usuarios</a></li>
</ul>